
.header1,.header2 {
  background-color: hsl(251, 84%, 42%);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: hsl(0, 0%, 100%);
}


